@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    background-color: #ffffff;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 90%;
}

.headerRight {
    gap: 0 5%;
    margin-left: 3%;
}

.logo {
    width: auto;
    height: 100%;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.headerLeft {
    gap: 0 20%;
    margin-right: 3%;
}

.accountIcon, .cartIcon {
    width: auto;
    height: 50%;
}

.searchButton {
    width: auto;
    height: 50%;
    /* background: none; */
    /* border: none; */
}

.searchIcon {
    width: auto;
    height: 100%;
}

#searchBar {
    display: block;
    border: 1px solid black;
}

/* Body */

body {
    background-color: #F3F5F8;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

.keyboardCustom {
    width: 60%;
    height: auto;
    border-radius: 50px;
}

.centeredImageText   {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
}